*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: #1D212B;
}
section{
    
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
section:nth-child(1){
    color: #fff;
}
section:nth-child(2){
    color: #1D212B;
    background: #fff;
}
section:nth-child(3){
    color: #fff;
}
section:nth-child(4){
    color: #1D212B;
    background: #fff;
}

section .container{
    margin: 100px;
}

section h1{
    font-size: 60px;
}

section h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
