*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    margin: 0;
}
header{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 80px;
}

nav{
    list-style: none;
    position: absolute;
    right: 0;
  }
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}
nav li{
  height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
nav a:hover{
  background-color: #f0f0f0;
}
nav li:nth-child(5){
    margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
  display: none;
}
.menu-button{
    display: block;
    
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}

.passiveMessage{
    display: none;
}
.activeMessage{
    color: #fff;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 50%;
    top: 20%;
    height: 500px;
    width: 500px;
    border-radius: 40px;
}

