body{
    margin: 0;
}
header{
    position: absolute;
    top: 1rem;
    left: 50%;
    font-family: "Oswald";
    transform: translateX(-50%);
    color: #fff;
    font-size: 80px;
    pointer-events: none;
}
footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    font-family: "Oswald";
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    pointer-events: none;
}